$black:#222222;
$white:#FFFFFF;
$yellow:#FDC800;
$blue-grey:#D0DBE5;
$light-blue:#EAF6FF;
$light-blue2:#78C6FD;
$blue:#0DA1FC;
$light-green:#AFD100;
$light-gray:#f2f2f2;
$gray:#52575D;
$pink:#F87499;

